footer {
    background-color: #333;
    color: white;
    padding: 1.5vh 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2vh;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    padding: 1vh;
}

.footer-left {
    align-self: flex-start;
    text-align: left;
}

.footer-logo {
    max-width: 20vh;
    margin-bottom: 1vh;
}

.footer-left address {
    font-style: normal;
    line-height: 1.6;
}

.footer-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.footer-center .contact-info {
    display: contents;
}

.footer-center .contact-info div {
    margin-bottom: 1.5vh;
}

.footer-center .contact-info h3 {
    margin: 0;
    font-size: 3vh;
    white-space: nowrap;
}

.footer-center .contact-info p {
    margin: 0.5vh 0;
    font-size: 2.5vh;
}

.whatsapp-number, .email-address {
    white-space: nowrap;
    word-break: break-all;
}

.footer-right {
    text-align: right;
    align-self: flex-end;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    gap: 2vh;
}

.social-media a {
    color: white;
    font-size: 4vh;
    margin-left: 1vh;
}

.footer-right p {
    margin-top: 2vh;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 4vh 0;
        overflow-x: hidden;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 0 2vh;
    }

    .footer-left, .footer-center, .footer-right {
        width: 100%;
        text-align: center;
        padding: 2vh 0;
    }

    .footer-logo {
        max-width: 15vh;
        margin-bottom: 1vh;
    }

    .footer-left {
        margin-bottom: 3vh;
    }

    .footer-center {
        grid-template-columns: 1fr;
        gap: 3vh;
        justify-items: center;
    }

    .footer-center .contact-info {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2vh;
        justify-items: center;
    }

    .social-media {
        justify-content: center;
        margin-top: 3vh;
    }
}

@media (max-width: 1024px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-left, .footer-center, .footer-right {
        width: 100%;
        text-align: center;
    }

    .footer-logo {
        max-width: 20vh;
    }

    .footer-left {
        margin-bottom: 3vh;
    }

    .footer-center {
        grid-template-columns: 1fr;
        gap: 2vh;
        justify-items: center;
    }

    .footer-center .contact-info div {
        margin-bottom: 2vh;
    }

    .social-media {
        justify-content: center;
        margin-top: 3vh;
    }
}
