footer {
    background-color: #333;
    color: white;
    padding: 1.5vh 0; /* Diminuído para reduzir a altura */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinhamento vertical centralizado */
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2vh;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    padding: 1vh;
}

.footer-left {
    align-self: flex-start; /* Alinhamento superior */
    text-align: left; /* Alinha o texto à esquerda */
}

.footer-logo {
    max-width: 20vh;
    margin-bottom: 1vh;
}

.footer-left address {
    font-style: normal;
    line-height: 1.6;
}

.footer-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
    justify-items: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente dentro da área do grid */
    text-align: center;
}

.footer-center .contact-info {
    display: contents;
}

.footer-center .contact-info div {
    margin-bottom: 1.5vh; /* Diminuído para reduzir o espaço inferior */
}

.footer-center .contact-info h3 {
    margin: 0;
    font-size: 3vh; /* Diminuído para garantir que "Número de Contato" caiba em uma linha */
    white-space: nowrap; /* Garante que o texto não quebre */
}

.footer-center .contact-info p {
    margin: 0.5vh 0;
    font-size: 2.5vh;
}

.whatsapp-number {
    white-space: nowrap; /* Garante que o número de WhatsApp não quebre */
}

.footer-right {
    text-align: right;
    align-self: flex-end; /* Alinha para o final do footer */
}

.social-media {
    display: flex;
    justify-content: flex-end;
    gap: 2vh;
}

.social-media a {
    color: white;
    font-size: 4vh;
    margin-left: 1vh;
}

.footer-right p {
    margin-top: 2vh;
}

/* @media query para dispositivos menores */
@media screen and (max-width: 768px) {
    footer {
        padding: 4vh 0; /* Aumentado para 4vh para dispositivos menores */
        overflow-x: hidden;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 2vh;
    }

    .footer-left, .footer-center, .footer-right {
        width: 100%;
        text-align: left;
        padding: 2vh 0;
    }

    .footer-logo {
        max-width: 15vh; /* Diminuído o tamanho da logo */
        margin-bottom: 1vh; /* Reduzido o espaço inferior */
    }

    .footer-left {
        margin-bottom: 3vh; /* Espaçamento entre os elementos na versão móvel */
    }

    .footer-center {
        grid-template-columns: 1fr; /* Uma coluna para os itens no centro */
        margin-left: 10vh;
        gap: 3vh;
        justify-items: center; /* Centraliza os itens horizontalmente */
        text-align: center;
    }

    .footer-center .contact-info {
        display: grid;
        grid-template-columns: 1fr; /* Transformando em grid vertical */
        gap: 2vh;
        justify-items: center; /* Centraliza os itens horizontalmente */
    }

    .social-media {
        justify-content: center; /* Centraliza os ícones de redes sociais */
        margin-top: 3vh;
    }
}

/* Media query para tablets e notebooks */
@media (max-width: 1024px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-left, .footer-center, .footer-right {
        width: 100%;
        text-align: center; /* Centraliza o texto na versão tablet e notebook */
    }

    .footer-logo {
        max-width: 20vh; /* Ajusta o tamanho da logo para tablets e notebooks */
    }

    .footer-left {
        margin-bottom: 3vh; /* Espaçamento entre os elementos na versão tablet e notebook */
    }

    .footer-center {
        grid-template-columns: repeat(3, 1fr); /* Mantém o estilo de grid horizontal */
        gap: 2vh;
        justify-items: center;
    }

    .footer-center .contact-info div {
        margin-bottom: 2vh;
    }

    .social-media {
        justify-content: center;
        margin-top: 3vh;
    }
}
